body {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
}

.page-header {
  background-color: #bada55;
}

.promo {
  display: inline-block;
  background-color: #fff;
}

.button {
  width: 30px;
  height: 10px;
  background-color: #fff;
}